.box{
  flex:1 1 20rem;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}

.box img{
  height: 20rem;
  width:100%;
  object-fit: cover;
}

.box .content{
  padding:1rem;
}

.box .content h3{
  font-size:1.4rem;
  color:rgb(65, 62, 62);
  display: flex;
}

.box .content h3 i{
  color:rgb(42, 128, 128);
  margin-right: 4px;
}

.box .content p{
  font-size:1.3rem;
  color:#666;
  padding:1rem 0;
}

.box .content .stars i{
  font-size:1.1rem;
  color:orange;
}

.box .content .price{
  font-size: 1.5rem;
  color:#333;
  padding-top: 0.8rem;
}

.box .content .price span{
  color:#666;
  font-size: 1.2rem;
  text-decoration: line-through;
}

.box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.2rem;
}
.btn{
  display: inline-block;
  margin-top: 1rem;
  background:rgb(0, 164, 166);
  color:#fff;
  padding:.4rem 1.5rem;
  background:rgb(0, 164, 166);
  cursor: pointer;
  font-size: 1.3rem;
  border-radius: 4px;
  border: none;
}

.btn:hover{
  background:rgb(0, 164, 166);
  color:white;
}
