
.book-container{
  width: 60%;
  margin: 0 auto;
  margin-top: 80px;
}
.booking{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  align-items: center;
  /* justify-content: center; */
}

.book-img img{
  width: 600px;
}
.form-container form{
  flex:1 1 40rem;
  padding:2rem;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  border-radius: .5rem;
}
.form-container form .info{
  padding:.5rem 0;
}
.form-container form .info input{
  width:100%;
  padding:1rem;
  border:.1rem solid rgba(0,0,0,.1);
  font-size: 1.7rem;
  color:#333;
  text-transform: none;
}
.form-container form .info h3{
  font-size: 2rem;
  padding:1rem 0;
  color:#666;
}